/* default section */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  gap: 1rem;
}

.container {
  width: 100%;
  margin: auto;
  /* border-style: dashed; */
}
/* Checkbox section */
/* Checkbox section */
/* Checkbox section */
/* Checkbox section */
/* Checkbox section */

:root {
  --color-white: white;
  --color-blue: #2f80ed;
  --color-dark: black;
  --body-bg: #white;
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);
  /* /* for dark mode* */

  --dark-bg: var(--color-dark);
  --dark-text-color: white;
  --dark-border-color: white;
}

/* for dark mode */
/* for dark mode */
/* for dark mode */
/* for dark mode */
/* for dark mode */

#darkMode {
  position: fixed;
  top: 7rem;
  left: 2rem;
  display: none;
}
.dark-mode-toggle {
  position: fixed;
  top: 7rem;
  left: 3rem;
}
.dark-mode-toggle:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.5s;
}

.wrapper {
  background-color: var(--body-bg);
  min-height: 100vh;
  color: var(--text-color);
}

/* dark mode activation */
/* dark mode activation */
/* dark mode activation */
/* dark mode activation */
/* dark mode activation */

#darkMode:checked + .wrapper {
  background: var(--color-blue);
  min-height: 100vh;
  color: var(--dark-text-color);
}

/* header section */
/* header section */
/* header section */
/* header section */
/* header section */

header {
  background-color: var(--color-dark);
  box-shadow: 0 0 10px 5px rgba(5, 2, 21, 0.558);
  position: sticky;
  top: 0;
  color: var(--color-white);
}
.header {
  justify-content: space-between;
  align-items: center;
}

.logo > div:nth-child(1) h2 {
  font-size: 1.8rem;
}
.logo {
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.line {
  font-size: 1rem;
}

.menu-icon,
#check {
  display: none;
}

.navigation {
  list-style: none;
}
.navigation li a:hover {
  color: var(--color-blue);
  transition: all 0.5s;
}

/* <!-- hero section --> */
/* <!-- hero section --> */
/* <!-- hero section --> */
/* <!-- hero section --> */
/* <!-- hero section --> */
/* <!-- hero section --> */
/* <!-- hero section --> */
/* <!-- hero section --> */
.hero {
  display: flex;
  position: relative;
  top: 10vh;
  /* border-style: dotted; */
  background-color: #2f80ed;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0rem;
  box-shadow: -4px 12px 29px 0px rgba(47, 128, 237, 0.98);
}
.hero > div:nth-child(2) {
  position: relative;
  bottom: 40px;
  width: 500px;
  height: 400px;
  /* overflow: hidden; */
  /* border-style: dashed; */
  border-radius: 20%;
}
.hero > div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.hero > div:nth-child(1) {
  gap: 1rem;
  width: 30%;
  /* border-style: dashed; */
  flex-direction: column;
  align-items: center;
  text-align: left;
  /* border-style: dashed; */
  max-height: auto;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}

/* <!-- banner Section --> */
/* <!-- banner Section --> */
/* <!-- banner Section --> */
/* <!-- banner Section --> */
/* <!-- banner Section --> */

.banner {
  color: #121313;
  position: relative;
  top: 20vh;
  justify-content: center;
  align-items: center;
}

.banner > div {
  display: flex;
  padding: 10px 50px 10px 50px;
  background-color: white;
  width: 80%;
  border-radius: 80px;
  color: #2f80ed;
  border-style: solid;
  justify-content: space-between;
  align-items: center;

  box-shadow: -4px 12px 29px 0px rgba(47, 128, 237, 0.98);
}

.circle {
  height: 100px;
  width: 100px;
  background-color: var(--color-blue);
  border-radius: 50%;
  display: inline-block;
  color: var(--color-white);
  padding: 1.5rem;
  font-size: 3rem;
}

.text {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
}
H2 {
  letter-spacing: 5.6px;
}
H3 {
  color: var(--color-blue);
}
/* <!-- Skills Section--> */
/* <!-- Skills Section--> */
/* <!-- Skills Section--> */
/* <!-- Skills Section--> */

.skills {
  position: relative;
  top: 25vh;
  justify-content: center;
  /* border-style: dashed; */
}

.skills > .flex {
  color: white;
  width: 80%;
  border-radius: 20px;
  background-color: var(--color-blue);
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 5rem;
  flex-wrap: wrap;
  box-shadow: -4px 12px 29px 0px rgba(47, 128, 237, 0.98);
}

.skills > .flex > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button {
  background-color: white;
  border: none;
  color: var(--color-blue);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}

/* <!-- projects section--> */
/* <!-- projects section--> */
/* <!-- projects section--> */
/* <!-- projects section--> */
.projects {
  min-height: 52vh;
  position: relative;
  top: 30vh;
  /* border-style: solid; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects > div {
  width: 80%;
  margin: auto;
  /* border-style: solid; */
  min-height: 40vh;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.projects > .flex > div {
  display: flex;
  border-style: solid;
  color: var(--color-blue);
  width: 300px;
  min-height: 40vh;
  align-items: center;
  flex-direction: column;

  box-shadow: -4px 12px 29px 0px rgba(47, 128, 237, 0.98);
  font-size: 24px;
}

.projects > .flex > div img {
  width: 100%;
  height: 60%;
}
/* <!-- about me --> */

/* <!-- contact me --> */
/* <!-- footer section --> */
footer {
  position: relative;
  top: 40vh;
  justify-content: center;
  border-style: dashed;
  height: 20vh;
  background-color: #020000;
}
